/*banner - carrosseu*/
.banner-slider{
    width: 100%;
}
.slider{
    height: 60vh;
    width: 165.5vh;
    overflow: hidden;
    position: relative;
}
.slider img{
    margin: 0;
    height: 60vh;
    width: 165.5vh;
    vertical-align: top;
    object-fit: cover;
    object-position: 0 -50px;
    vertical-align: top;
}
.img{
    position: absolute;
    animation: animacao infinite 40s;
    opacity: 0;
}
@keyframes animacao{
    25%{
        opacity: 1;
        transform: scale(1.1,1.1);
    }
    50%{
        opacity: 0;
    }
}

.img:nth-child(1){
    animation-delay: 0s;
}
.img:nth-child(2){
    animation-delay: 15s;
}
.img:nth-child(3){
    animation-delay: 30s;
}
.img:nth-child(4){
    animation-delay: 45s;
}

/*container*/
.container1 h5{
    color: white;
    font-size: 25px;
    letter-spacing: 2px;
}
.card{
    background-color: white;
    height: 157px;
    width: 299px;
    margin-left: 20px;
    border-radius: 25px;
}
.cards{
    display: flex;
    position: relative;
}
.cards img{
    width: 5vh;
    height: 5vh;
    margin-top: 6%;
    margin-left: 2%;
}

.conjunto1{
    margin-left: 5%;
}


.conjunto2{
    margin-left: 5%;
    margin-bottom: 5%;
}
.conjunto2 .cards{
    margin-top: 5%;
}
