<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/cadastro.css">
    <title>Only Drama</title>
</head>
<body>

    <div class="login">
        <div class="logo">
            <a href="index.html"><img src="../img/only_drama.png"></a>
        </div>
    
        <div class="form">
            <h1>Cadastro</h1>
    
            <div class="formulario">
                <input placeholder="Juliana">
    
                <input placeholder="juliana@gmail.com">
    
                <input type="passeword" placeholder="*********">
    
                <input type="passeword" placeholder="*********">
    
                <button><a href="">Cadastrar</a></button>
            </div>
    
            <div class="span">
                <h4>Já possui alguma conta? </h4>
                <h4><a href="login.html">Entrar</a></h4>
            </div>
        </div>
    </div>
    
    <div class="banner">
        <div class="slogan">
            <p></p>
        </div>
    </div>

</body>
</html>