<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/login.css">
    <title>Only Drama</title>
</head>
<body>

    <div class="banner">
        <div class="slogan">
            <p></p>
        </div>
    </div>

    
    <div class="cadastro">
        <div class="logo">
            <a href="index.html"><img src="../src/only_drama.png"></a>
        </div>
    
        <div class="form">
            <h1>Login</h1>
    
            <div class="formulario">
                
                <input placeholder="juliana@gmail.com">
    
                <input type="passeword" placeholder="*********">    
    
                <button><a href="">Logar</a></button>
            </div>
    
            <div class="span">
                <h4>Não possui conta? </h4>
                <h4><a href="cadastro.html">Cadastra-se</a></h4>
            </div>
        </div>
    </div>

</body>
</html>